
.gallery-title
{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.port-image
{
    width: 100%;
}

.channel_grid
{
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.channel_grid:hover {
    cursor: pointer;
}
.channel_grid:hover > .info_grid {
    background-color: #6441A4;
    color: white;
    cursor: pointer;
}
.channel_grid.ng-enter {
    transition: 1.0s linear all;
    opacity: 0;
}
.channel_grid.ng-enter-active {
    opacity: 1;
}
.info_grid h3 {
    margin-top: 20px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #6441A4;
    border-bottom: 16px solid #6441A4;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 30%;
    right: -40%;
    transform: translateY(-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}