<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitch HLS Search</title>
  <base href="/"></base>
  <meta name="description" content="Get m3u8 link for any stream">
  <meta name="author" content="father_gregor">
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <link rel="stylesheet" type="text/css" href="/style/main_page.css">
  <link rel="stylesheet" type="text/css" href="/style/loading_frame.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body ng-app="TwitchApp" ng-controller="StreamSearchController" style="height:100%">
  <div class="container" style="width:100%;min-height:260px;background-color:#6441A4">
    <div class="top-title" style="text-align:center;margin-top:80px">
      <h1 style="color: white;margin-bottom:25px">
        Get direct link for <a href="/"><img src="/img/twitchlogo.png" style="width:3.5em"></a> stream
      </h1>
      <div class="form-group" style="width:500px;margin:0 auto;float:none">
        <button class="btn btn-default search-btn" ng-click="checkField()">Search</button>
        <input type="text" ng-model="$root.streamer" class="form-control search-input" placeholder="Stream name">
      </div>
    </div>
  </div>
  <div ng-include="$root.loadingFrame" class="loading" style="display:none; height:500px"></div>
  <div scope="" onload="" ng-view class="container main-view">
  </div>
  <div class="footer-main" style="background: #414142">
    <h3 style="text-align:center; color: #efeff2; padding-top: 10px">Twitch HLS Search</h3>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
</body>
</html>
