<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitch HLS Search</title>
  <base href="/"></base>
  <meta name="description" content="Get m3u8 link for any stream">
  <meta name="author" content="father_gregor">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body ng-app="TwitchApp">
  <div class="container" ng-controller="StreamSearchController" style="width:100%;min-height:300px;background-color:#6441A4">
    <div class="top-title" style="text-align:center;margin-top:80px">
      <h1 style="color: white;margin-bottom:25px">
        Get direct link for <a href="https://www.twitch.tv"><img src="/img/twitchlogo.png" style="width:3.5em"></a> stream
      </h1>
      <div class="form-group" style="width:500px;margin:0 auto;float:none">
        <button class="btn btn-default" ng-click="checkField()" style="margin-right: 10px">Search</button>
        <input type="text" ng-model="$root.streamer" class="form-control" placeholder="Stream name" style="width:70%;display:inline-block">
      </div>
    </div>
  </div>
  <div ng-view class="container">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
</body>
</html>
